In [ ]:
pwd

In [ ]:
10+20

General Purpose Programming Languages --> Interpreted, Comprehensive, Clean syntax, Object oriented

Machine learning, Deep Learning / AI --> Sklearn, Pandas, Numpy, Sci-py
Socket programming --> Sockets
Multi-threading
Testing, Debugging, automation --> Pylint, Selenium
Big Data Ecosystem --> Hadoopy, pydoop, mrjob, hadoop streaming
RPA
Web applications --> Django, Flask
Visualisation, IOT

In [ ]:
x = 10
y = 20
print("The sum of x & y is: ", x+y)

In [ ]:
"The sum of x & y is: "

In [ ]:
# Single line comment

In [ ]:
'''This is a 
multi line comment'''

In [ ]:
help(print)

In [ ]:
# Built in - functions

In [ ]:
print
len
type

In [ ]:
type(x)

In [ ]:
# Arithmetic operators

In [ ]:
19*4

In [ ]:
19/4

In [ ]:
19//4

In [ ]:
2**2

In [ ]:
19%4

In [ ]:
# Comparison operators

In [ ]:
2 == 5

In [ ]:
2>=5

In [ ]:
5<=10

# Data Structures

# Ordered Data Structures --> Strings, Lists, Tuples, N dimensional arrays, Series, Data frames, Ordered dictionary

# Unordered Data Structures --> Dictionaries, Sets

In [ ]:
# Accessing items, arithmetic operations, Item assignment, In-buit functions

In [ ]:
x = "Hello, welcome to the class"

In [ ]:
type(x)

In [ ]:
len(x)

In [ ]:
# Indices in Python starts with "0" and the end index is exclusive

In [ ]:
x[0]

In [ ]:
x[:5]

In [ ]:
x[7:]

In [ ]:
x[-1]

In [ ]:
"apple" + " orange"

In [ ]:
"apple"*2

In [ ]:
# Immutable --> 'str' object does not support item assignment

In [ ]:
o = "Oringe"

In [ ]:
o[2] = "a"

In [ ]:
o[:2] + 'a' + o[3:]

In [ ]:
x[7:].capitalize()

In [ ]:
x.find('he')

In [ ]:
x.upper()

In [ ]:
x.isupper()

In [ ]:
x.replace('t','p')

In [ ]:
x.__dir__()

In [ ]:
x.__contains__('z')

In [ ]:
x.__add__(", what's up!")

In [ ]:
help(x.index)

In [ ]:
# Lists

In [ ]:
x.split(" ")

In [ ]:
l = []

In [ ]:
l = ["hello", "python", "hadoop", 100, 10.5664]

In [ ]:
len(l)

In [ ]:
l[0].capitalize()

In [ ]:
l[2:]

In [ ]:
l.append("new object")

In [ ]:
l.extend("hi")

In [ ]:
l.append([10,20])

In [ ]:
l.extend([5,8])

In [ ]:
l.pop()

In [ ]:
l.append({'a':[10,20,30]})

In [ ]:
type(l[11])

In [ ]:
l[11]['a']

In [ ]:
# Mutable

In [ ]:
l[0] = "Hi"

In [ ]:
# Tuples

In [ ]:
t = 1,2

In [ ]:
t = ()

In [ ]:
type(t)

In [ ]:
t = ([1,2,3,4],"hi",1.2, (100,200))

In [ ]:
len(t)

In [ ]:
t[0][3]

In [ ]:
t[3][1]

In [ ]:
t.count('hi')

In [ ]:
t.index('hi')

In [ ]:
# Immutable --> 'tuple' object does not support item assignment

In [ ]:
t[1] = "hello"

In [ ]:
# Named tuples --> Collection module

In [ ]:
# Dictionaries --> Key & value pairs

In [ ]:
d = {}

In [ ]:
type(d)

In [ ]:
d['ID']=[1,2,3]

In [ ]:
d = {'ID':[1,2,3],'Name':['Sean','John','Robert'],'Salary':(10,29,38)}

In [ ]:
d['ID'][2]

In [ ]:
d['Name'][:2]

In [ ]:
d['Name'][2].lower()

In [ ]:
d.keys()

In [ ]:
d.values()

In [ ]:
d.items()

In [ ]:
d.get('Name')

In [ ]:
del d['ID']

In [ ]:
d.update({'ID':[1,2,3]})

In [ ]:
d

In [ ]:
# Ordered Dictionaries --> Collections module

In [ ]:
d.__dir__()

In [ ]:
# Sets --> Collection of Unique items

In [ ]:
s = set()

In [ ]:
type(s)

In [ ]:
s = {1,1,1,1,1,2,2,2,2,3,3,3,3,4,4,5,6,7,8,9}

In [ ]:
s1 = {3,4,5,6}

In [ ]:
s&s1

In [ ]:
s.intersection(s1)

In [ ]:
s|s1

In [ ]:
s.union(s1)

In [ ]:
s.issubset(s1)

In [ ]:
s1.issubset(s)

In [ ]:
s.issuperset(s1)

In [ ]:
s2=s.difference(s1)

In [ ]:
s1

In [ ]:
s.difference_update(s1)

In [ ]:
# Collection module --> Frozen sets

In [ ]:
# Print formatting techniques

In [ ]:
int(input("enter a number "))

In [ ]:
bal = 5000
trans = int(input("Enter the amount to withdraw "))

print("Hi {} \n you have withdrawn RS. {} and the remaining balance is RS. {} " .format("Pavan",trans,bal-trans))

In [ ]:
print("The {1} are attending {0} classes" .format ('python','students'))

In [ ]:
print("I'm inserting a %s here" % 'string as an example')

In [ ]:
print("I'm inserting a %d here" % 100.087654)

In [ ]:
print("I'm inserting a %f here" % 100)

In [ ]:
# Control statements

In [ ]:
# Indentation represents a block of code

In [ ]:
marks = 78

In [ ]:
if marks>35:
    print("pass")

In [ ]:
if marks>35:
    print("pass")
else:
    print("oops! try again")
print("I'm always printed")

In [ ]:
if marks>75:
    print("Well done!")
elif (marks>35) & (marks<75):
    print("Good")
else:
    print("oops! try again")
print("I'm always printed")

# Write a program asking for user input
If input is greater than zero, print positive
if it is a multiple of 2, 5 (print it)
If it's not (print it)
else negative number

In [ ]:
n = int(input("Enter number"))
if n > 0:
    print("positive")
    if n%2 == 0 and n%5 == 0:
        print("Divisible by 2 and 5")
    elif n%2 == 0:
        print("Divisible by 2")
    elif n%5 == 0:
        print("Divisible by 5")
    else:
        print(n, "is not divisible by 2 and 5")
else:
    print("negative")

In [ ]:
# Iterations

In [ ]:
for letter in x:
    print(letter.upper(), end = '-')

In [ ]:
for item in l:
    print(item, end = ' ')

In [ ]:
print(*l)

In [ ]:
for i in range(5):
    print(i*i)
    print(i%2==0)

In [ ]:
for i in range(5):
   if i%2==0:
    print(i)

In [ ]:
for i in d:
    print(i)

In [ ]:
for i in d.values():
    print(i)

In [ ]:
for i in d.items():
    print(i)

In [ ]:
for keys,values in d.items():
    print(keys,values[2])

In [ ]:
l = []

In [ ]:
for i in range(10):
    if i%3==0:
        l.append(i*i)

In [ ]:
[i*i for i in range(10) if i%3==0]

In [ ]:
{i:i*i for i in range(10) if i%3==0}

In [ ]:
"banana".count('a')

In [ ]:
b.count('a')

In [ ]:
len(set(b))

In [ ]:
# Break, continue, pass

In [ ]:
num = 0

for i in range(10):
    num+=1
    #num=num+1
    if num==5:
        #pass
        #break
        #continue
    print("The number is: ", str(num))

In [ ]:
if num==5:
    pass

In [ ]:
def fn():
    pass

In [ ]:
n = 5

while n>0:
    n=n-1
    print(n)

In [ ]:
n = 5
a = True

In [ ]:
while a:
    
    inp = int(input("Enter a number"))
    if inp == n:
        print("You got it!")
        #break
        a=False
    elif inp>n:
        print("No, it's smaller than that")
    else:
        print("It's bigger than that")

In [ ]:
# Ask the user for input --> Number of students
# For each student collect the marks of 3 subjects, if the avg>=75, qualified otherwise disqualified

In [ ]:
# Functions

In [ ]:
def ex():
    pass

In [ ]:
def sq1(x):
    #print(x*x)
    return x*x

In [ ]:
s = sq1(8)

In [ ]:
type(s)

In [ ]:
sq1(10)

In [ ]:
def sq1(x=8):
    '''This function returns
    the square of a given number
    by default x is set to 8
    '''
    #print(x*x)
    return x*x

In [ ]:
l = "hi i'm a string"

In [ ]:
l.join

In [ ]:
help(sq1)

In [ ]:
# Write a program to find a number is prime or not.

In [ ]:
def is_prime(num):
    half = num//2
    for i in range(2,half+1):
        if num%i==0:
            print("not prime")
            break
    else:
        print("It's prime")

In [ ]:
is_prime(23)

In [ ]:
l = [10,40,60,55,25]

In [ ]:
sq1(l)

In [ ]:
for i in l:
    print(sq1(i))

In [ ]:
[sq1(i) for i in l]

In [ ]:
# map, filter, reduce, enumerate, zip, lambda, decorators, generators, iterators

In [ ]:
list(map(sq1,l))

In [ ]:
def odd(x):
    if len(x)%2==0:
        return(x)

In [ ]:
odd("python")

In [ ]:
odd("spark")

In [ ]:
l1 = ['Python','Spark','Hadoop']

In [ ]:
list(filter(odd,l1))

In [ ]:
def mynum(n):
    return n%2!=0

In [ ]:
list(map(mynum,l))

In [ ]:
list(filter(mynum,l))

In [ ]:
list(map(lambda x:x*x,l))

In [ ]:
list(filter(lambda x: x%2!=0, l))

In [ ]:
s = "Welcome to class"

In [ ]:
ind = 0

for letter in s:
    print("At the index {} the letter is {} " .format(ind,letter))
    ind+=1

In [ ]:
for ind,letter in enumerate(s):
    print(ind,letter, end = " ---- ")

In [ ]:
# write a function to do selection sort

In [ ]:
min(l)

In [ ]:
max(l)

In [ ]:
l.sort()

In [ ]:
def f(x):
    mini = x[0]
    for i in x:
        if i< mini:
            mini = i
    return mini

In [ ]:
f(l)

In [ ]:
# Reduce --> Takes a set of values, returns an aggregated result

In [ ]:
from functools import reduce

In [ ]:
reduce(lambda x,y:x+y,l)

In [ ]:
reduce(lambda x,y: x if (x<y) else y,l)

In [ ]:
t = ("a",'b','c','d','e')

In [ ]:
zip(t,l)

In [ ]:
for i in zip(t,l):
    print(i)

In [ ]:
for i,j in zip(t,l):
    print(i,j)

In [ ]:
list(zip(t,l))

In [ ]:
dict(zip(t,l))

In [ ]:
# Modules & Packages

In [ ]:
import math

In [ ]:
math.sqrt(64)

In [ ]:
from math import sqrt

In [ ]:
sqrt(100)

In [ ]:
from math import sqrt as s

In [ ]:
s(100)

In [ ]:
from math import sqrt,exp, log, pow

In [ ]:
math.pow(10,2)

In [ ]:
from sklearn.linear_model import ElasticNet, LinearRegression

In [ ]:
# OOPS

In [ ]:
s = "Welcome"

In [ ]:
type(s)

In [ ]:
# Class --> Blueprint for creating objects

In [ ]:
class car():
    pass

In [ ]:
c1 = car()

In [ ]:
type(c)

In [ ]:
# Object level attributes

In [ ]:
c1.model_name = "Santro"

In [ ]:
c1.price = 10000

In [ ]:
c1.model_name

In [ ]:
c1.price

In [ ]:
c2 = car()

In [ ]:
c2.model_name = "City"

In [ ]:
c2.price = 20000

In [ ]:
c2.model_name

In [ ]:
class car():
    '''example of a class called car'''
    manufacturer_name = 'Tata'
    yom = 2022
    tires = 4
    type = 'sedan'

In [ ]:
c1 = car()

In [ ]:
c1.manufacturer_name

In [ ]:
c1.yom

In [ ]:
c2 = car()

In [ ]:
c2.manufacturer_name

In [ ]:
c2.yom

In [ ]:
c1.model_name = 'nexon'

In [ ]:
c2.model_name = 'altroz'

In [ ]:
class Employee:
    '''This is a collection of employee data'''
    
    count = 0
    Company = "Shell"
    
    def __init__(self, Name,Age,City,Salary):
        self.Name = Name
        self.Age = Age
        self.City = City
        self.Salary = Salary
        Employee.count+=1   
    
    def num_emp(self):
        print("The number of employees are: ", Employee.count)

In [ ]:
e1 = Employee("John",32,"Blr",8000)

In [ ]:
e1.count

In [ ]:
e1.Age

In [ ]:
e1.Company

In [ ]:
e2 = Employee("Robert",28,"SF",4000)

In [ ]:
e2.num_emp()

In [ ]:
hasattr(e2,'Salary')

In [ ]:
getattr(e2,'Salary')

In [ ]:
e2.__doc__

In [ ]:
e2.__dict__

In [ ]:
class Cars:
    def __init__(self,color):
        self.color = color
        
    def __repr__(self):
        return '{} : {}' .format(self.__class__.__name__, self.color)

In [ ]:
colors = ['Blue','Red','Orange']

In [ ]:
car_objs = [Cars(color) for color in colors]

In [ ]:
print(car_objs)

In [ ]:
type(car_objs)

In [ ]:
type(car_objs[0])

In [ ]:
car_objs[0].__repr__()

In [ ]:
l = [10,20,30,"hello"]

In [ ]:
l.__repr__()

In [ ]:
e2.__dict__

In [ ]:
Employee.__dict__

In [ ]:
# Write a class called student, display the roll number of student.
# Create a class attribute "College_name"

In [ ]:
class Student:
    CollegeName = 'MSRIT'
    def __init__(self, usn):
        self.usn = usn
    
    def __init__(self):
        pass    
        
        
    def __repr__(self):
        return f'usn = {self.usn}'
    
#s = Student(101)
#print(s, s.CollegeName)

In [ ]:
s.__repr__()

In [ ]:
s = Student()

In [ ]:
# python doesn't allow method overloading

In [ ]:
def ex(x,y,z):
    print(x,y,z)

In [ ]:
ex(10,20,30)

In [ ]:
def ex(*x):
    print(*x)

In [ ]:
ex(1,2,3,4,5,6,7)

In [ ]:
class emp:
    def __init__(self,*args):
        self.name = args[0]
        self.age = args[1]
        self.sal = args[2]
        
    def display(self):
        print(self.name + " has a salary of " + str(self.sal))

In [ ]:
e1 = emp('John',24,1000)

In [ ]:
e1.display()

In [ ]:
# Private, Protected & Public classes

In [ ]:
class Car:
    def __init__(self, speed, color, price):
        self.speed = speed
        self._color = color # Protected
        self.__price = price # Private

In [ ]:
c1 = Car(180, 'Blue',20000)

In [ ]:
c1.speed

In [ ]:
c1._color

In [ ]:
c1._Car__price

In [ ]:
# Getter & Setter methods

In [ ]:
class car:
    def __init__(self,speed,color):
        self.__speed = speed
        self.color = color
        
        
    def set_speed(self,speed):
        if speed<=100:
            self.__speed = speed
        else:
            self.__speed = 100
    
    def get_speed(self):
        return self.__speed
    
    def set_color(self,color):
        self.color = color
        
    def get_color(self):
        return self.color

In [ ]:
c1 = car(140,"Red")

In [ ]:
c1.color

In [ ]:
c1._car__speed

In [ ]:
c1.get_speed()

In [ ]:
c1.get_color()

In [ ]:
c1.set_speed(120)

In [ ]:
c1.get_speed()

In [ ]:
# Inheritance

# Single-level
# Multi-level
# Multiple

In [ ]:
class Parent():
    Last_Name = "ABC"
    _Age = 40

In [ ]:
x = Parent()

In [ ]:
x._Age

In [ ]:
class child(Parent):
    B_group = 'AB+'
    _city = "Blr"

In [ ]:
c = child()

In [ ]:
c.Last_Name

In [ ]:
c.B_group

In [ ]:
class child2(child):
    Gender = 'Female'
    Country = "India"

In [ ]:
c2 = child2()

In [ ]:
c2.Last_Name

In [ ]:
c2.B_group

In [ ]:
c2._Age

In [ ]:
class parent2():
    Last_Name = "xyz"
    Age = 38

In [ ]:
class child3(parent2,Parent):
    pass

In [ ]:
c = child3()

In [ ]:
c.Last_Name

In [ ]:
c.Age

In [ ]:
c._Age

In [ ]:
c.Last_Name

In [ ]:
class Organisation:
    
    def __init__(self,Name, no_emp, City):
        self.Name = Name
        self.no_emp = no_emp
        self.city = City
        
    def intro(self):
        print("Welcome to our organisation")
        
class school(Organisation):
    def __init__(self,Name, no_emp, City, num_students):
        super().__init__(Name, no_emp, City)
        self.num_students=num_students

In [ ]:
O1 = Organisation('ABC',100,'blr')

In [ ]:
s1 = school('XYZ',50,'t1',200)

In [ ]:
O1.Name

In [ ]:
O1.intro()

In [ ]:
s1.Name

In [ ]:
s1.no_emp

In [ ]:
s1.city

In [ ]:
s1.num_students

In [ ]:
class college(school):
    def __init__(self,Name, no_emp, City, num_students, fee):
        super().__init__(Name, no_emp, City, num_students)
        self.fee = fee

In [ ]:
c1 = college("col1",40,"Mum",300,20000)

In [ ]:
c1.num_students

In [ ]:
s1.num_students

In [ ]:
O1.no_emp

In [ ]:
# Create another class called board. Inherit the attributes of board as well as organisation in school class

In [ ]:
class Organisation:
    
    def __init__(self,Name, no_emp, City):
        self.Name = Name
        self.no_emp = no_emp
        self.city = City
        
class board:
    def __init__(self,board_name):
        self.board_name = board_name
    
    def intro(self):
        return self.board_name
    
class school(board,Organisation):
    def __init__(self,Name, no_emp, City,num_students,board_Name):
        board.__init__(self,board_Name)
        Organisation.__init__(self,Name,no_emp,City)
        self.num_students = num_students

In [ ]:
s1 = school("ABC",200,"Blr",100,"CBSE")

In [ ]:
s1.Name

In [ ]:
s1.board_name

In [ ]:
s1.intro()

In [ ]:
print(school.__mro__)

In [ ]:
# Decorators

In [ ]:
def new_decorator(actual_func):
    def wrapper_func():
        print("This statement is executed before the function call")
        actual_func()
        print("This statement is executed after the function call")
    return wrapper_func

In [ ]:
def dec_needed():
    print("I'm not yet decorated")

In [ ]:
dec_needed()

In [ ]:
a = new_decorator(dec_needed)

In [ ]:
a()

In [ ]:
#@new_decorator
def dec_needed2():
    print("I'm not yet decorated")

In [ ]:
dec_needed2()

#  Abstraction

Blueprint for other classes.

In [ ]:
from abc import ABC, abstractmethod

In [ ]:
class shape(ABC):
    # decorator
    
    @abstractmethod
    def area(self):
        pass
    @abstractmethod
    def perimeter(self):
        pass

class Square(shape):
    def __init__(self,side):
        self.side = side
    
    def area(self):
        return "The square of the side {} has an area of {} " .format(self.side, self.side*self.side)
    
    def perimeter(self):
        return 4*self.side
    
class circle(shape):
     def __init__(self,radius):
            self.radius = radius
        
     def area(self):
        return 3.14*self.radius*self.radius

In [ ]:
s1 = Square(5)

In [ ]:
s1.area()

In [ ]:
c1 = circle(4)

In [ ]:
c1.area()

In [ ]:
s1.perimeter()

In [ ]:
# Polymorphism

In [ ]:
class Square1():
    def __init__(self,side):
        self.side = side
    
    def area(self):
        return "The square of the side {} has an area of {} " .format(self.side, self.side*self.side)
    
    def perimeter(self):
        return 4*self.side
    
    
class circle1():
     def __init__(self,radius):
            self.radius = radius
        
     def area(self):
        return 3.14*self.radius*self.radius

In [ ]:
# Magic / dunder methods

In [ ]:
class Record:    
    '''simple class'''
    def __init__(self,title,author,pages):
        self.title = title
        self.author = author
        self.pages=pages
        
    def __str__(self):
        return "The {} is written by {}" .format(self.title,self.author)
    
    def __len__(self):
        return self.pages
        
    def __del__(self):
        print("The book is deleted")

In [ ]:
r = Record("mybook","myself",100)

In [ ]:
r.author

In [ ]:
r.__doc__

In [ ]:
len(r.author)

In [ ]:
len(r.title)

In [ ]:
dir(r)

In [ ]:
del(r)

In [ ]:
str(r)

In [ ]:
r.__repr__()

In [ ]:
len(r)

In [ ]:
del(r)

In [ ]:
r.__del__()

In [ ]:
r.author

In [ ]:
r.pages

In [ ]:
del(r)

Create a class called Person, pass name & age, verify if the age > 18
In another class Course, pass name of the subject, fee, fee_paid=0
anotgher class student, enroll the student in the course, check if the age is 21, enroll the student to courses,
take the payment, Show the balance amount

In [ ]:
# Scope of a variable

# LEGB --> Local, Enclosed, Global & built-in!

In [ ]:
num = 20

In [ ]:
def example():
    global num
    print("The number is: ", num)
    num = 15
    #return num
    print("The number is now changed to: ", num)

In [ ]:
num

In [ ]:
example()

In [ ]:
num

In [ ]:
def sq(n):
    res = []
    for i in range(n):
        res.append(i**2)
    return res

In [ ]:
sq(10)

In [ ]:
# Generators

In [ ]:
def sq(n):
    for i in range(n):
        yield i**2

In [ ]:
sq(10)

In [ ]:
res = sq(10)

In [ ]:
next(res)

In [ ]:
list(sq(10))

In [ ]:
pwd

In [ ]:
%%writefile test.txt
Hi, welcome to the python course
Python is easy to learn

In [ ]:
f = open('test.txt')

In [ ]:
f.read()

In [ ]:
f.readlines()

In [ ]:
f.seek(0)

In [ ]:
f.close()

In [ ]:
f1 = open('test.txt','w+')

In [ ]:
f1.write("Let's add a line")

In [ ]:
f1.read()

In [ ]:
f1.seek(0)

In [ ]:
f1 = open('test.txt','a+')

In [ ]:
f1.write("Now it's a new line written \n")

In [ ]:
f1.write("and one more \n")

In [ ]:
f1.readlines()

In [ ]:
help(open)

 Character Meaning
    --------- ---------------------------------------------------------------
    'r'       open for reading (default)
    'w'       open for writing, truncating the file first
    'x'       create a new file and open it for writing
    'a'       open for writing, appending to the end of the file if it exists
    'b'       binary mode
    't'       text mode (default)
    '+'       open a disk file for updating (reading and writing)
    'U'       universal newline mode (deprecated)

In [ ]:
f1.seek(4)

In [ ]:
f1.read()

In [ ]:
f1.close()

In [ ]:
# Flexibility
# File is closed automatically
with open('test.txt') as file:
    data = file.read()

In [ ]:
print(data)

In [ ]:
with open('test.txt','w+') as file:
    data = file.write("Hello")
    data = file.seek(0)
    data = file.read()

In [ ]:
print(data)

In [ ]:
import csv

In [ ]:
import json

In [ ]:
# Exception Handling

In [ ]:
10+'10'

In [ ]:
try:
    10 +'10'
except:
    print("Please input two numbers")

In [ ]:
try:
    f = open('test5.txt','w')
    f.write("Writing here")
except IOError:
    print("Operation is invalid")
else:
    print("Content written successfully")
    f.close()

In [ ]:
try:
    print(int("Not an integer"))
except: 
    print("Please input an integer")
try:
    fp = open("notafile")
    fp.close()
except: 
    print("FIle doesn't exist")

In [ ]:
ValueError as ex:

In [ ]:
IOError as iox:

In [ ]:
print(int("Not an integer"))

In [ ]:
fp = open("notafile")

In [ ]:
try:
    print(int("Not an integer"))
except ValueError as ex: 
    print(ex.args)
try:
    fp = open("notafile")
    fp.close()
except IOError as ioe: 
    print(ioe.args)

In [365]:
# use exception handling and write a program to loop till you get an integer as an input

In [ ]:
# Numpy --> Indexing, subsetting, random module
# Pandas --> Data manipulation, Data cleaning, EDA, Visualisation

Numpy --> N dimensional arrays
Pandas --> Series, Dataframes